langchain>=0.3.0
langchain-anthropic>=0.3.0
langchain-community>=0.3.0
langchain-imap
python-dotenv
python-telegram-bot
pyyaml>=6.0.2
numpy
scipy
sounddevice
webrtcvad
faster-whisper
setuptools<81
wheel
vosk
pygame
requests
piper-tts
playwright
yt_dlp
openwakeword